name: pullRequest

on:
  pull_request:
    types: [ opened, edited, reopened, ready_for_review, unlocked, synchronize ]

jobs:
  d1-test-cases-testrail:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: echo Hello Priyanka
